/* #region palette */
:root {
    --pl-black: #000000;
    --pl-foot: #00439C;
    --pl-dark-gray: #1F1F1F;
    --pl-btn-blue: #2D64E6;
    --pl-btn-gray: #363636;
    --pl-btn-red: #CD3D0F;
    --pl-white: #FFFFFF;
    --pl-dark-blue: #161C3B;
    --pl-light-gray: rgb(148, 146, 146);
}

/* #endregion palette */

/* #region debug */
.debug #site_header {
    height: 100px;
}

.debug .section_carousel {
    background-color: var(--pl-white);
}

.debug .carousel_slide,
.debug .jumbotron {
    background-color: red;
    height: 580px;
}

.debug[class^="col"] {
    height: 150px;
    background-color: blue;
}

/* #endregion debug */

/* #region utility */

.bg_dark_grey {
    background-color: var(--pl-dark-gray);
}

.bg_black {
    background-color: var(--pl-black);
}

.bg_grey {
    background-color: var(--pl-btn-gray);
}

.bg_red {
    background-color: var(--pl-btn-red);
}

.bg_w_trasparent {
    background-color: rgba(255, 255, 255, 0.5);
}

.bg_btn_blue {
    background-color: var(--pl-btn-blue);
}

.bg_dark_blue {
    background-color: var(--pl-dark-blue);
}

.c_blue {
    color: var(--pl-btn-blue);
}

.c_dark_gray {
    color: var(--pl-dark-gray);
}

.c_light_gray {
    color: var(--pl-light-gray);
}

/* #endregion utility */

/* #region common */
body {
    font-family: Arial, Helvetica, sans-serif;
}

img {
    max-width: 100%;
}

.button {
    padding: 5px 10px;
    text-decoration: none;
    box-shadow: 0 0 0 2px rgba(253, 3, 3, 0) inset;
}

/* #endregion common */

/* #region header */
.section_carousel {
    margin-top: 93px;
}

.sony_logo_box img {
    width: 80px;
}

.arrow_grey {
    width: 0.5rem;
    margin-left: 0.2rem
}

img.lens {
    width: 40%
}

.dropdown-toggle::after {
    display: inline-block;
    margin-left: 0.255em;
    vertical-align: 0.255em;
    content: "";
    border: 0
}

.dropdown .show img.arrow_grey {
    transform: rotate(180deg);
}

.dropdown-menu.giochi[data-bs-popper] {
    position: absolute;
    top: 50px;
    left: -70px;
}

.dropdown-menu.hardware[data-bs-popper] {
    position: absolute;
    top: 50px;
    left: -151.5px;
}

.dropdown-menu.servizi[data-bs-popper] {
    position: absolute;
    top: 50px;
    left: -257px;
}

.dropdown-menu.novità[data-bs-popper] {
    position: absolute;
    top: 50px;
    left: -341px;
}

.dropdown-menu.fai_acquisti[data-bs-popper] {
    position: absolute;
    top: 50px;
    left: -422px;
}

.dropdown-menu.supporto[data-bs-popper] {
    position: absolute;
    top: 50px;
    left: -539px;
}

.dropdown-menu {
    width: 100vw;
    --bs-dropdown-bg: #f8f9fa;
    --bs-dropdown-border-color: #e9ecef00;
    --bs-dropdown-border-radius: 0;
    --bs-dropdown-border-width: 1px;
    --bs-dropdown-inner-border-radius: calc(0.375rem - 1px);
    --bs-dropdown-divider-bg: var(--bs-border-color-translucent);
    --bs-dropdown-link-active-bg: #e9ecef;

    padding: var(--bs-dropdown-padding-y) var(--bs-dropdown-padding-x);
    margin: 0;
    font-size: var(--bs-dropdown-font-size);
    color: var(--bs-dropdown-color);
    text-align: center;

    background-color: var(--bs-dropdown-bg);
    background-clip: padding-box;
    border: var(--bs-dropdown-border-width) solid var(--bs-dropdown-border-color);
    border-radius: var(--bs-dropdown-border-radius);
}

/* #endregion header */

/* #region main */
.carousel_slide {
    background-image: url(../img/jumbo-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.selected {
    border: 2px solid var(--pl-btn-blue);
    padding: 3px;
    margin-top: -5px;
}

.carousel_slide .row {
    padding-top: 200px;

}

.item_name {
    font-size: 14px;
    text-align: center;
    font-weight: bold;
}

.product img {
    filter: opacity(20%);
}

.product {
    color: var(--pl-light-gray);
}

.section_takes_two {
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.section_exp_playstation_4 span {
    font-size: 14px;
}

.section_playstation_plus {
    background-color: var(--pl-light-gray);
}

.button_nav {
    border: 2px solid var(--pl-btn-gray);
}

.button_buy {
    border: 2px solid var(--pl-btn-red);
}

.info_button {
    border: 2px solid var(--pl-btn-blue)
}

.explore_button {
    border: 2px solid var(--pl-light-gray)
}

.now {
    border: 2px solid var(--pl-white)
}

/* #endregion main */

/* #region footer */
.globe {
    width: 15px;
}

.globe_text,
a {
    font-size: 12px;
    color: var(--pl-white);
}

li {
    list-style: none;
}

.up_footer a {
    text-decoration: none;
}

.sie {
    width: 100px;
}


#site_footer {
    background-color: var(--pl-foot);
}

/* #endregion footer */

/* region hover */
.button_buy:hover {
    border: 2px solid var(--pl-btn-red);
    box-shadow: 0 0 0 2px black inset;
    transition: 0.3s;
}

.button_nav:hover {
    border: 2px solid var(--pl-btn-gray);
    box-shadow: 0 0 0 2px rgb(255, 255, 255) inset;
    transition: 0.3s;
}

.info_button:hover {
    border: 2px solid var(--pl-btn-blue);
    box-shadow: 0 0 0 2px rgb(255, 255, 255) inset;
    transition: 0.3s;
}

.explore_button:hover {
    box-shadow: 0px 0px 3px 0 rgba(255, 255, 255, 0.5);
    transition: 0.3s;
    border: 2px solid rgba(177, 177, 177, 0.5);
}

.now:hover {
    border: 2px solid var(--pl-white);
    box-shadow: 0 0 0 2px black inset;
    transition: 0.3s;
    color: var(--pl-dark-gray);
}

.product:hover img {
    filter: opacity(100%);
}

.product:hover {
    color: var(--pl-dark-gray);
    cursor: pointer;
    border-bottom: 1px solid var(--pl-btn-blue);
}

/* #endregion hover */

/* #region animations */

.jumbotron .col {
    transition: 0.5s ease-in-out;

}

.jumbotron .col:hover {
    cursor: pointer;
    margin-top: -20px;

}

/* #endregion animations */

@media screen and (max-width:767px) {
    .disappearing {
        display: none;
    }
}