/* #region palette */
:root {
    --pl-black: #000000;
    --pl-foot: #00439C;
    --pl-dark-gray: #1F1F1F;
    --pl-btn-blue: #2D64E6;
    --pl-btn-gray: #363636;
    --pl-btn-red: #CD3D0F;
    --pl-white: #FFFFFF;

}

/* #endregion palette */

/* #region debug */
/* .debug #site_header {
    height: 100px;
} */

.debug .section_carousel {
    background-color: var(--pl-white);
}

/* .debug .carousel_slide,
.debug .jumbotron {
    background-color: red;
    height: 580px;
} */

/* .debug [class^="col"] {
    height: 150px;
    background-color: blue;
} */

/* #endregion debug */

/* #region common */
body {
    font-family: Arial, Helvetica, sans-serif;
}

img {
    max-width: 100%;
}

/* #endregion common */

.new_release {
    background-color: var(--pl-dark-gray);
}

/* #region header */

/* #endregion header */
.bg_black {
    background-color: var(--pl-black);
}

.bg_grey {
    background-color: var(--pl-btn-gray);
}

.sony_logo_box img {
    width: 80px;
}

.arrow_grey {
    width: 0.5rem;
    margin-left: 0.2rem
}

img.lens {
    width: 40%
}

.carousel_slide {
    background-image: url(../img/jumbo-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.col.rounded-4.selected {
    border: 3px solid blue;
    padding: 3px;
    margin-top: 3px;
}

.carousel_slide .row {
    padding-top: 200px;

}

/* #region footer */
#site_footer {
    background-color: var(--pl-foot);
}

/* #endregion footer */